Pandas - most important python library for data analysis

In [1]:
import pandas as pd
import numpy as np

###Creating data for practice
2 core objects: DataFrame and Series

In [7]:
pd.DataFrame({'Female':[80,'Yes'], 'Male':[67,'No']},index=['Percent','Shopping']) #DataFrame = Table

         Female Male
Percent      80   67
Shopping    Yes   No

In [8]:
fruit_sales = fruits = pd.DataFrame({'Apples':[35,41],'Bananas':[21,34]},index=['2017 Sales','2018 Sales'])
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [9]:
#series = sequence of data values.== list
pd.Series([190,278,432],index=['Mar','Apr','May'],name='Corona Cases')

Mar    190
Apr    278
May    432
Name: Corona Cases, dtype: int64

In [10]:
ingredients = pd.Series(['4 cups','1 cup','2 large','1 can'],index=['Flour','Milk','Eggs','Spam'],name='Dinner')
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [11]:
#Dataframe = bunch of series glued together

Working with given Youtube file

##1) Reading the above CSV file in google colab using the pandas’ library and converting it into data frames.

In [12]:
data = pd.read_csv("/content/Youtube Influencer Analysis - Updated.csv", encoding='cp1252')

In [13]:
data.shape

(905, 24)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 905 entries, 0 to 904
Data columns (total 24 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Video Link                             905 non-null    object
 1   Video Views                            905 non-null    object
 2   Video Title                            905 non-null    object
 3   Channel URL                            905 non-null    object
 4   Creator Name                           894 non-null    object
 5   Creator Gender                         591 non-null    object
 6   Total Channel Subcribers               905 non-null    object
 7   Total Chanel Views                     905 non-null    object
 8   Duration of Video                      905 non-null    object
 9   Duration in Seconds                    905 non-null    object
 10  Date of Video Upload                   905 non-null    object
 11  No of Likes                            904 non-null    float64
 12  Language of the Video                  884 non-null    object
 13  Subtitle                               904 non-null    object
 14  Video Description                      905 non-null    object
 15  Hashtags                               905 non-null    int64
 16  No of Comments                         905 non-null    object
 17  Date of the Last Comment               881 non-null    object
 18  Maximum Quality of the Video           905 non-null    int64
 19  No of Videos the Channel               905 non-null    int64
 20  No of Playlist                         896 non-null    float64
 21  Premiered or Not                       905 non-null    object
 22  Community Engagement (Posts per week)  905 non-null    int64
 23  Intern Who Collected the Data          905 non-null    object
dtypes: float64(2), int64(4), object(18)
memory usage: 169.8+ KB

In [15]:
data.describe()

,No of Likes,Hashtags,Maximum Quality of the Video,No of Videos the Channel,No of Playlist,Community Engagement (Posts per week)
count,9.040000e+02,905.000000,905.000000,905.000000,896.000000,905.000000
mean,5.840101e+05,1.030939,1227.712707,4962.866298,82.246652,4.516022
std,2.959309e+06,1.835350,419.254719,24193.140397,446.041267,19.377195
min,0.000000e+00,0.000000,240.000000,1.000000,0.000000,0.000000
25%,5.475000e+03,0.000000,1080.000000,150.000000,6.000000,0.000000
50%,3.250000e+04,0.000000,1080.000000,389.000000,16.000000,1.000000
75%,1.845000e+05,2.000000,1080.000000,1393.000000,47.250000,3.000000
max,4.900000e+07,28.000000,2160.000000,420000.000000,6000.000000,341.000000

In [16]:
data.head()

,Video Link,Video Views,Video Title,Channel URL,Creator Name,Creator Gender,Total Channel Subcribers,Total Chanel Views,Duration of Video,Duration in Seconds,...,Video Description,Hashtags,No of Comments,Date of the Last Comment,Maximum Quality of the Video,No of Videos the Channel,No of Playlist,Premiered or Not,Community Engagement (Posts per week),Intern Who Collected the Data
0,https://www.youtube.com/watch?v=_0fUOJ55gis,"146,059",Samse - Didupe Off-road Royal Enfield Himalayan,https://www.youtube.com/c/sriharick,srihari ck,Male,40200,7964284,00:30:41,"1,841.00",...,Yes,0,419,8/6/2022,1080,462,12.0,No,1,Akhil Teja
1,https://www.youtube.com/watch?v=_70MSLPRfZI,"231,969",Bhoom Baddhal Web Series,https://www.youtube.com/c/ChaibisketTelugu,Chai Bisket,Male,920000,137535681,00:14:24,864.00,...,Yes,1,189,6/15/2022,1080,251,12.0,Yes,2,Akhil Teja
2,https://www.youtube.com/watch?v=_8gfCdt3H00&t=87s,878,"Customer Psychology, Four Views Of Consumer De...",https://www.youtube.com/channel/UCcIUnCsBfONvb...,Virda Warsi,Female,458,72945,0:08:12,492.00,...,Yes,0,0,NaN,720,158,0.0,No,0,Syed safdar
3,https://www.youtube.com/watch?v=_CkFNJgKsFs,"9,965",Top countries with proven natural gas reserves,https://www.youtube.com/c/trtworld,TRT,NaN,1680000,541653219,0:01:06,66.00,...,Yes,0,77,9/22/2022,1080,46509,48.0,No,20,Syed safdar
4,https://www.youtube.com/watch?v=_GFkHA5EZdE,"39,780,561",73 Questions With Selena Gomez,Vogue - YouTube,Vogue,NaN,12100000,3600496171,0:07:40,460.00,...,Yes,0,28221,9/23/2022,1080,2872,113.0,No,1,Rahul Singh

##2) How many values are missing for each column and try dropping or replacing NULL values using appropriate pandas’ function.

In [18]:
# count of missing values in each column
data.isnull().sum()

Video Link                                 0
Video Views                                0
Video Title                                0
Channel URL                                0
Creator Name                              11
Creator Gender                           314
Total Channel Subcribers                   0
Total Chanel Views                         0
Duration of Video                          0
Duration in Seconds                        0
Date of Video Upload                       0
No of Likes                                1
Language of the Video                     21
Subtitle                                   1
Video Description                          0
Hashtags                                   0
No of Comments                             0
Date of the Last Comment                  24
Maximum Quality of the Video               0
No of Videos the Channel                   0
No of Playlist                             9
Premiered or Not                           0
Community Engagement (Posts per week)      0
Intern Who Collected the Data              0
dtype: int64

Creator Name, Creator Gender, No of Likes, Language of the Video, Subtitle, Date of the Last Comment, No of Playlist have missing values.

Total 7 columns

In [19]:
# total number of missing values in the dataframe or whole data
data.isnull().sum().sum()

381

In [20]:
print(data.mean(numeric_only=True)) #finding mean of numeric columns

No of Likes                              584010.065265
Hashtags                                      1.030939
Maximum Quality of the Video               1227.712707
No of Videos the Channel                   4962.866298
No of Playlist                               82.246652
Community Engagement (Posts per week)         4.516022
dtype: float64

In [21]:
# replacing na values in no of likes with its mean values
data["No of Likes"].fillna(584010.065265, inplace = True)
# replacing na values in no of playlist with mean no
data["No of Playlist"].fillna(82.246652, inplace = True)

In [22]:
#finding mode for categorical columns
print(data['Creator Name'].mode())
print(data['Creator Gender'].mode())
print(data['Language of the Video'].mode())
print(data['Subtitle'].mode())
print(data['Date of the Last Comment'].mode())

0    Ganesh Prasad
dtype: object
0    Male
dtype: object
0    English
dtype: object
0    Yes
dtype: object
0    9/23/2022
dtype: object

In [23]:
#filling using mode since all are categorical in nature
data["Creator Name"].fillna("Ganesh Prasad", inplace = True)
data["Creator Gender"].fillna("Male", inplace = True)
data["Language of the Video"].fillna("English", inplace = True)
data["Subtitle"].fillna("Yes", inplace = True)
data["Date of the Last Comment"].fillna("9/23/2022", inplace = True)

In [24]:
data.isnull().sum().sum() #checking once again whether there are any missing value left

0

No missing values.

In [25]:
#finding unique values in the column
#to find whether there are any null values other than NaN or any other abnormal value
for i in data.columns:
  print(data[i].value_counts())
  print()

https://www.youtube.com/watch?v=_0fUOJ55gis    1
https://youtu.be/GEmSh5SxkiE                   1
https://youtu.be/EUcVBDtJo5M                   1
https://youtu.be/Eul0ePFkHyw                   1
https://youtu.be/EwQkfoKxRvo                   1
                                              ..
https://www.youtube.com/watch?v=PM_FN5HI9ls    1
https://www.youtube.com/watch?v=PmeM4SvADXE    1
https://www.youtube.com/watch?v=po7t_U-sLi8    1
https://www.youtube.com/watch?v=PSblBluOQf8    1
https://www.youtube.com/watch?v=UGATpt0I4vA    1
Name: Video Link, Length: 905, dtype: int64

146,059       1
1,138,582     1
1,820,478     1
19,230,485    1
20,594,509    1
             ..
152,197       1
380,216       1
974,973       1
3,404,666     1
429,966       1
Name: Video Views, Length: 905, dtype: int64

What is Excel and How to use it?                                                                    2
Samse - Didupe Off-road Royal Enfield Himalayan                                                     1
Turning Points And Continuation Trades                                                              1
Python Tutorial in Hindi | Learn Python in Hindi | Python Full Course in Hindi | Python Tutorial    1
CRED's Genius Business Model EXPLAINED                                                              1
                                                                                                   ..
Pondy Parottas | FOMO web series | Maha Raja Parotta                                                1
Mutton dum biryani | Kheema mutton biryani                                                          1
iPhone 12 Vs iPhone 11 in Big Billion Days Sale 2022                                                1
Apple MacBook Air M2! *Worth the upgrade?*                                                          1
Jhulan Goswami Final Over in ODIs | ENG vs IND 3rd ODI | Sony Sports Network                        1
Name: Video Title, Length: 904, dtype: int64

https://www.youtube.com/c/ThinkSchool              24
https://www.youtube.com/c/Ashstudio7HD              6
https://www.youtube.com/c/edurekaIN                 6
https://www.youtube.com/c/sc0utOP                   6
https://www.youtube.com/c/RahulMyoutubeChannel      6
                                                   ..
https://www.youtube.com/c/wizkhalifa                1
https://www.youtube.com/c/nathanieldrewofficial     1
Call of Duty - YouTube                              1
https://www.youtube.com/c/EtishaGarg                1
https://www.youtube.com/c/AddictedA1                1
Name: Channel URL, Length: 647, dtype: int64

Ganesh Prasad         34
Zakir Khan             6
Rahul M                6
Tanmay Singh           6
Business Insider       6
                      ..
James Engelsman        1
Prasadtechintelugu     1
Puri Jagannadh         1
Purna Duggirala        1
srihari ck             1
Name: Creator Name, Length: 619, dtype: int64

Male       808
Female      78
Company     19
Name: Creator Gender, dtype: int64

2250000     24
3530000      6
4510000      6
5700000      6
11300000     6
            ..
154000       1
2430000      1
113000       1
13100        1
3980000      1
Name: Total Channel Subcribers, Length: 550, dtype: int64

134771915     22
5183991691     8
2797           6
33220816       5
545401335      5
              ..
300296063      1
18751275       1
2963581800     1
166736995      1
728858923      1
Name: Total Chanel Views, Length: 661, dtype: int64

00:15:02    6
00:08:26    4
00:13:24    4
00:01:26    4
00:04:14    4
           ..
00:05:20    1
00:12:05    1
00:22:44    1
00:19:23    1
00:01:21    1
Name: Duration of Video, Length: 726, dtype: int64

902.00      6
804.00      4
254.00      4
506.00      4
256.00      4
           ..
1,119.00    1
1,163.00    1
1,364.00    1
725.00      1
81.00       1
Name: Duration in Seconds, Length: 703, dtype: int64

9/15/2022    35
9/14/2022    26
9/13/2022    23
9/22/2022    15
9/21/2022    14
             ..
1/11/2022     1
7/9/2017      1
2/27/2022     1
8/17/2016     1
9/25/2022     1
Name: Date of Video Upload, Length: 582, dtype: int64

11000.0       13
16000.0       11
13000.0       10
10000.0        9
25000.0        9
              ..
143.0          1
241000.0       1
827.0          1
39000000.0     1
117.0          1
Name: No of Likes, Length: 498, dtype: int64

English            563
Hindi              183
Tamil               55
Telugu              31
Malayalam           24
Kannada             22
Sanskrit             5
Japenese             3
Urdu                 3
Hindi/English        3
Urdu + Arabic        2
Konkani              2
English + Hindi      2
Nawayathi            2
Italian              1
Russian              1
Arabic               1
Punjabi              1
Mongalian            1
Name: Language of the Video, dtype: int64

Yes    461
No     380
yes     64
Name: Subtitle, dtype: int64

Yes    858
No      46
NO       1
Name: Video Description, dtype: int64

0     527
3     153
1     150
2      38
4      11
5      10
6       5
11      3
10      3
9       2
7       1
8       1
28      1
Name: Hashtags, dtype: int64

0        28
1         8
1100      5
1500      5
410       5
         ..
4745      1
33614     1
1672      1
78        1
325       1
Name: No of Comments, Length: 739, dtype: int64

9/23/2022     182
9/22/2022     129
9/21/2022      79
9/20/2022      60
9/25/2022      56
             ...
12/10/2021      1
5/17/2020       1
6/22/2022       1
6/9/2022        1
8/14/2022       1
Name: Date of the Last Comment, Length: 115, dtype: int64

1080    690
2160    141
720      45
1440     17
360       5
480       4
240       3
Name: Maximum Quality of the Video, dtype: int64

171     24
237     10
58       9
120      8
66       8
        ..
560      1
38       1
6        1
6955     1
3014     1
Name: No of Videos the Channel, Length: 497, dtype: int64

7.0      54
0.0      45
5.0      34
6.0      34
2.0      32
         ..
330.0     1
292.0     1
106.0     1
234.0     1
124.0     1
Name: No of Playlist, Length: 142, dtype: int64

No     804
Yes    100
yes      1
Name: Premiered or Not, dtype: int64

0      390
1      188
2      100
3       41
8       32
4       31
5       19
7       18
6        9
12       8
10       8
14       6
9        6
13       5
67       5
20       4
21       3
18       3
25       2
19       2
42       2
23       2
11       2
70       2
69       2
15       2
341      1
24       1
56       1
84       1
89       1
40       1
62       1
49       1
174      1
143      1
27       1
61       1
312      1
Name: Community Engagement (Posts per week), dtype: int64

Rahul Singh          196
Syed safdar           97
Akhil Teja            75
Sanjay Lakshmanan     74
prateek               73
Aakash Dodia          71
Jaimo                 69
Shashank              69
Harshit Prajapat      64
Thinesh               59
Mafaz Ali             39
Adarsh                19
Name: Intern Who Collected the Data, dtype: int64

'Premiered or Not' , 'Subtitle', 'Video Description' have some mistakes. Like No and NO are treated differently, hence we need to correct them.

In [26]:
data['Subtitle'] = data['Subtitle'].replace(to_replace={'yes':'Yes'})
data['Video Description'] = data['Video Description'].replace(to_replace={'NO':'No'})
data['Premiered or Not'] = data['Premiered or Not'].replace(to_replace={'yes':'Yes'})

In [27]:
#checking 
for i in data.columns:
  print(data[i].value_counts())
  print()

https://www.youtube.com/watch?v=_0fUOJ55gis    1
https://youtu.be/GEmSh5SxkiE                   1
https://youtu.be/EUcVBDtJo5M                   1
https://youtu.be/Eul0ePFkHyw                   1
https://youtu.be/EwQkfoKxRvo                   1
                                              ..
https://www.youtube.com/watch?v=PM_FN5HI9ls    1
https://www.youtube.com/watch?v=PmeM4SvADXE    1
https://www.youtube.com/watch?v=po7t_U-sLi8    1
https://www.youtube.com/watch?v=PSblBluOQf8    1
https://www.youtube.com/watch?v=UGATpt0I4vA    1
Name: Video Link, Length: 905, dtype: int64

146,059       1
1,138,582     1
1,820,478     1
19,230,485    1
20,594,509    1
             ..
152,197       1
380,216       1
974,973       1
3,404,666     1
429,966       1
Name: Video Views, Length: 905, dtype: int64

What is Excel and How to use it?                                                                    2
Samse - Didupe Off-road Royal Enfield Himalayan                                                     1
Turning Points And Continuation Trades                                                              1
Python Tutorial in Hindi | Learn Python in Hindi | Python Full Course in Hindi | Python Tutorial    1
CRED's Genius Business Model EXPLAINED                                                              1
                                                                                                   ..
Pondy Parottas | FOMO web series | Maha Raja Parotta                                                1
Mutton dum biryani | Kheema mutton biryani                                                          1
iPhone 12 Vs iPhone 11 in Big Billion Days Sale 2022                                                1
Apple MacBook Air M2! *Worth the upgrade?*                                                          1
Jhulan Goswami Final Over in ODIs | ENG vs IND 3rd ODI | Sony Sports Network                        1
Name: Video Title, Length: 904, dtype: int64

https://www.youtube.com/c/ThinkSchool              24
https://www.youtube.com/c/Ashstudio7HD              6
https://www.youtube.com/c/edurekaIN                 6
https://www.youtube.com/c/sc0utOP                   6
https://www.youtube.com/c/RahulMyoutubeChannel      6
                                                   ..
https://www.youtube.com/c/wizkhalifa                1
https://www.youtube.com/c/nathanieldrewofficial     1
Call of Duty - YouTube                              1
https://www.youtube.com/c/EtishaGarg                1
https://www.youtube.com/c/AddictedA1                1
Name: Channel URL, Length: 647, dtype: int64

Ganesh Prasad         34
Zakir Khan             6
Rahul M                6
Tanmay Singh           6
Business Insider       6
                      ..
James Engelsman        1
Prasadtechintelugu     1
Puri Jagannadh         1
Purna Duggirala        1
srihari ck             1
Name: Creator Name, Length: 619, dtype: int64

Male       808
Female      78
Company     19
Name: Creator Gender, dtype: int64

2250000     24
3530000      6
4510000      6
5700000      6
11300000     6
            ..
154000       1
2430000      1
113000       1
13100        1
3980000      1
Name: Total Channel Subcribers, Length: 550, dtype: int64

134771915     22
5183991691     8
2797           6
33220816       5
545401335      5
              ..
300296063      1
18751275       1
2963581800     1
166736995      1
728858923      1
Name: Total Chanel Views, Length: 661, dtype: int64

00:15:02    6
00:08:26    4
00:13:24    4
00:01:26    4
00:04:14    4
           ..
00:05:20    1
00:12:05    1
00:22:44    1
00:19:23    1
00:01:21    1
Name: Duration of Video, Length: 726, dtype: int64

902.00      6
804.00      4
254.00      4
506.00      4
256.00      4
           ..
1,119.00    1
1,163.00    1
1,364.00    1
725.00      1
81.00       1
Name: Duration in Seconds, Length: 703, dtype: int64

9/15/2022    35
9/14/2022    26
9/13/2022    23
9/22/2022    15
9/21/2022    14
             ..
1/11/2022     1
7/9/2017      1
2/27/2022     1
8/17/2016     1
9/25/2022     1
Name: Date of Video Upload, Length: 582, dtype: int64

11000.0       13
16000.0       11
13000.0       10
10000.0        9
25000.0        9
              ..
143.0          1
241000.0       1
827.0          1
39000000.0     1
117.0          1
Name: No of Likes, Length: 498, dtype: int64

English            563
Hindi              183
Tamil               55
Telugu              31
Malayalam           24
Kannada             22
Sanskrit             5
Japenese             3
Urdu                 3
Hindi/English        3
Urdu + Arabic        2
Konkani              2
English + Hindi      2
Nawayathi            2
Italian              1
Russian              1
Arabic               1
Punjabi              1
Mongalian            1
Name: Language of the Video, dtype: int64

Yes    525
No     380
Name: Subtitle, dtype: int64

Yes    858
No      47
Name: Video Description, dtype: int64

0     527
3     153
1     150
2      38
4      11
5      10
6       5
11      3
10      3
9       2
7       1
8       1
28      1
Name: Hashtags, dtype: int64

0        28
1         8
1100      5
1500      5
410       5
         ..
4745      1
33614     1
1672      1
78        1
325       1
Name: No of Comments, Length: 739, dtype: int64

9/23/2022     182
9/22/2022     129
9/21/2022      79
9/20/2022      60
9/25/2022      56
             ...
12/10/2021      1
5/17/2020       1
6/22/2022       1
6/9/2022        1
8/14/2022       1
Name: Date of the Last Comment, Length: 115, dtype: int64

1080    690
2160    141
720      45
1440     17
360       5
480       4
240       3
Name: Maximum Quality of the Video, dtype: int64

171     24
237     10
58       9
120      8
66       8
        ..
560      1
38       1
6        1
6955     1
3014     1
Name: No of Videos the Channel, Length: 497, dtype: int64

7.0      54
0.0      45
5.0      34
6.0      34
2.0      32
         ..
330.0     1
292.0     1
106.0     1
234.0     1
124.0     1
Name: No of Playlist, Length: 142, dtype: int64

No     804
Yes    101
Name: Premiered or Not, dtype: int64

0      390
1      188
2      100
3       41
8       32
4       31
5       19
7       18
6        9
12       8
10       8
14       6
9        6
13       5
67       5
20       4
21       3
18       3
25       2
19       2
42       2
23       2
11       2
70       2
69       2
15       2
341      1
24       1
56       1
84       1
89       1
40       1
62       1
49       1
174      1
143      1
27       1
61       1
312      1
Name: Community Engagement (Posts per week), dtype: int64

Rahul Singh          196
Syed safdar           97
Akhil Teja            75
Sanjay Lakshmanan     74
prateek               73
Aakash Dodia          71
Jaimo                 69
Shashank              69
Harshit Prajapat      64
Thinesh               59
Mafaz Ali             39
Adarsh                19
Name: Intern Who Collected the Data, dtype: int64

##3) Drop the columns which are irrelevant features to feed into our model.

In [28]:
data = data.drop(['Video Link', 'Channel URL','Intern Who Collected the Data','Duration of Video'], axis=1) #these features are irrelevant.
#duration of video because in seconds also it is given

In [30]:
data.shape

(905, 20)

##4) Some columns are not statistical data but in the form of strings. It Is difficult for our model to learn when the data is in form of strings. Your task is to encode these strings using proper encoding techniques.

In [40]:
data1 = data.copy()

In [41]:
data1.shape

(905, 20)

In [47]:
nominal_columns = ['Creator Gender','Language of the Video','Subtitle','Video Description','Premiered or Not']

Gender 2=male, 1=Female

In [49]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
# Encode the labels for the nominal attributes
labelencoder = LabelEncoder()
data1[nominal_columns] = data1[nominal_columns].apply(labelencoder.fit_transform)
data1

,Video Views,Video Title,Creator Name,Creator Gender,Total Channel Subcribers,Total Chanel Views,Duration in Seconds,Date of Video Upload,No of Likes,Language of the Video,Subtitle,Video Description,Hashtags,No of Comments,Date of the Last Comment,Maximum Quality of the Video,No of Videos the Channel,No of Playlist,Premiered or Not,Community Engagement (Posts per week)
0,"146,059",Samse - Didupe Off-road Royal Enfield Himalayan,srihari ck,2,40200,7964284,"1,841.00",7/29/2022,6700.0,7,0,1,0,419,8/6/2022,1080,462,12.0,0,1
1,"231,969",Bhoom Baddhal Web Series,Chai Bisket,2,920000,137535681,864.00,5/22/2022,7800.0,16,0,1,1,189,6/15/2022,1080,251,12.0,1,2
2,878,"Customer Psychology, Four Views Of Consumer De...",Virda Warsi,1,458,72945,492.00,2/9/2021,858.0,3,0,1,0,0,9/23/2022,720,158,0.0,0,0
3,"9,965",Top countries with proven natural gas reserves,TRT,2,1680000,541653219,66.00,9/13/2022,188.0,1,0,1,0,77,9/22/2022,1080,46509,48.0,0,20
4,"39,780,561",73 Questions With Selena Gomez,Vogue,2,12100000,3600496171,460.00,3/21/2017,901000.0,1,1,1,0,28221,9/23/2022,1080,2872,113.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900,"6,892",Calming mashup of Islamic Nasheed 2022 | Isami...,Sahil Online TV News,2,594000,129926690,827.00,9/29/2022,235.0,18,0,1,0,15,10/4/2022,1080,5024,36.0,0,1
901,"16,554",Amchi Nawayat Mehfil hee,Sahil Online TV News,2,594000,129926690,404.00,8/6/2017,117.0,11,0,1,2,0,10/4/2022,720,5024,36.0,0,1
902,"32,798",Aas ge Kaagaz,Sahil Online Bhatkal,2,23500,5104872,384.00,1/3/2021,1.0,11,0,1,3,0,8/4/2022,720,1018,13.0,0,1
903,"1,503",Anjuman Tarana by ABHS Students | Anjuman Anju...,Sahil Online Bhatkal,2,23500,5104872,279.00,3/6/2022,1.0,17,0,1,3,0,8/4/2022,1080,1018,13.0,0,1
904,"429,966",Jhulan Goswami Final Over in ODIs | ENG vs IND...,Sony Sports Network,2,3980000,728858923,81.00,9/25/2022,7600.0,1,1,1,3,0,10/4/2022,1080,3014,124.0,0,0